## requirements for production
dotenv
langchain
langchain-community
langchain-openai
langchain-neo4j

langgraph
neo4j
pydantic
spacy
python-dotenv
# Add other dependencies here, e.g., for LM Studio:
openai  # If you're using OpenAI's API (even locally, it's often used)

## development requirements
pytest